anyio
beautifulsoup4
blinker
certifi
charset-normalizer
click
colorama
fastapi
Flask
Flask-Cors
greenlet
h11
idna
itsdangerous
Jinja2
MarkupSafe
MouseInfo
mysql-connector-python
mysqlclient
Pillow
PyAutoGUI
pydantic
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
pywhatkit
requests
sniffio
soupsieve
SQLAlchemy
starlette
typing_extensions
urllib3
uvicorn
Werkzeug
wikipedia